<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <title th:text="${titulo}"></title>
    </head>
    <body>
        <h1 th:text="${titulo}"></h1>
        <ul>
            <li><a th:href="@{/variables/string/} + 'Hola Esteban'">/variables/string/Hola Esteban</a></li>
            <li><a th:href="@{/variables/string/} + 'Que tal Esteban'">/variables/string/Que tal Esteban</a></li>
            <li><a th:href="@{/variables/string/} + ${'Hola Esteban'} + '/' + ${7}">/variables/string/Hola Esteban/7</a></li>
        </ul>
    </body>
</html>